### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### IntelliJ IDEA ###
/.idea/
/private/
/storage/
/litemall.iml
.checkstyle
.idea
*.iws
*.iml
*.ipr
rebel.xml
### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ####
/logs/
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code
.vscode/launch.json
.vscode/settings.json
litemall-vue/src/assets/images/user_head_bg_red.png
litemall-vue/src/assets/images/user_head_bg_green.png
litemall-vue/public/resources/img/grsoft-app-ico.png
litemall-vue/public/resources/img/app-download-qr.png
litemall-vue/public/app-download.html
.svn/entries
.svn/format
.svn/pristine/10/109e3292e900d858b95b968abacf39858a6b8e7b.svn-base
.svn/pristine/1b/1b42bce254f853dc10711ffd14f7e81797a736b7.svn-base
.svn/pristine/1c/1c04d8638f5cf9c50de588412fcaf933b268644f.svn-base
.svn/pristine/22/22779ca960abe4d189931f72edc747c37a8fbf02.svn-base
.svn/pristine/26/269a9e96bf96215ea835c0ac56c34182f2cbcd37.svn-base
.svn/pristine/33/3375de9f5916ea5c6bab6da7db78da526248e3c5.svn-base
.svn/pristine/47/4749df55a8d8a1a23cfcb616c294cd3084d24d48.svn-base
.svn/pristine/57/5722f02b14e79117c25df8805a4f63a608e50824.svn-base
.svn/pristine/57/577ca1bf3aa40ffb9a770356abc7d04f0e2c77d2.svn-base
.svn/pristine/6f/6f5cd9d3ec5ea5c4488855314b83fe67c2daeaba.svn-base
.svn/pristine/7b/7b567bc31357bbdba7146bb461934b0c07d03f43.svn-base
.svn/pristine/86/86354418dfbb09737c565666f88a533598cd5e45.svn-base
.svn/pristine/8d/8d803ad089dc10097d8cc24c08f0a4a0f0ffef34.svn-base
.svn/pristine/90/909086715e45844ee87a8cfcc2528cf429b079cf.svn-base
.svn/pristine/92/9241fe0a498b2f189550a90f2f902f8187a5b4b2.svn-base
.svn/pristine/9d/9d3bef9b77486f0db9fc9dc76d0d736648eb41e6.svn-base
.svn/pristine/9e/9e4807c4defb05503ddd1dade01e7de91779256b.svn-base
.svn/pristine/9e/9e8a2ec8c8c9897a35a4a49187805c09fdfc638a.svn-base
.svn/pristine/a1/a1da217af89a8b680269599ad57056e31a72aa2c.svn-base
.svn/pristine/aa/aa18084de8e65446b655e5f3b4f7d09928e7c4a2.svn-base
.svn/pristine/b7/b71e0203193e82fc64d24e8ec80a35306471c394.svn-base
.svn/pristine/b8/b8b0dab4a41e70bc42be652a0d1c4ef400446f8a.svn-base
.svn/pristine/bc/bc89b78f375e235f340f2cfbbc99a1192dec28a6.svn-base
.svn/pristine/c2/c2f503dd1f10627e9f6e6dcea2891b345a1e5300.svn-base
.svn/pristine/d1/d13a03ffb5dd1164b28b736aa3f746f26e84c857.svn-base
.svn/pristine/d3/d3102c1e876fcb7acbcddc4ffbe22b3010673944.svn-base
.svn/pristine/dc/dc0681cf4bf4589294bf86f7f7762d3fafdfb3b5.svn-base
.svn/pristine/e1/e1998d70e06406d4e65027bd7ffc3a8455167735.svn-base
.svn/pristine/e6/e6d545f8a6c6216475fb54e898aa454b215be88b.svn-base
.svn/wc.db
.svn/wc.db-journal
deploy/litemall/logback-spring.xml
deploy/litemall/member-features.json
deploy/litemall/shop-banks.json
deploy/部署到腾讯云说明.md
doc/ai/prompt.txt
litemall-db/sql/litemall_init.sql
litemall-db/uml/LitemallOrderService.updateUserMemberStatus.puml
litemall-db/uml/uml-class-diagram.puml
litemall-vue/public/resources/img/click-hear-color.png
litemall-vue/public/resources/img/click-hear.png
out/litemall-db/uml/uml-class-diagram/uml-class-diagram.png
定制litemal.pdf
